<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCmo5FPb2x6PzOBv82Q3hPPh_8fd80X908</string>
	<key>GCM_SENDER_ID</key>
	<string>556345856610</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.co.c3reve.shakeoutgame</string>
	<key>PROJECT_ID</key>
	<string>shakeout-game-r5t581</string>
	<key>STORAGE_BUCKET</key>
	<string>shakeout-game-r5t581.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:556345856610:ios:9072433a949d9c53df373b</string>
</dict>
</plist>